/* All pages CSS */
body{
    background-color: #2f2f2f;
    font-family: monospace;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


nav {
    display: flex;
    gap: 3em;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color .2s ease;
}

a:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    max-width: 70em;
    margin: 0 auto;
    padding: 0.8em;
    text-align: left;
}

header {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    padding: 0em 2em;
    margin-top :-3vh;
}

/* Splash page styles */
#homeTitle {
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.25em;
}

/* Resume/Projects page styles */
.pageTitle {
    font-size: 4em;
    color: #ffffff;
    text-align: left;
    margin-left: 1em;
}

header h1 {
    margin: 0;
}

/* || Resume page styles */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75em;
    gap: 2em;
    margin: 0 auto;
}

#intro h2 {
    font-size: 2.5em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: left;
}

#headshot {
    width: 15em;
    height: auto;
}